<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Edit</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/bootstrap.min_old.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.uk.js"></script>
</head>
<body style="background-color: darkslategrey">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" style="font-size: 22pt" href="/">Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container" style="margin-top: 50px; color: white">
    <br/>
    <h1 id="heading" style="text-align: center;color: #ffc107;margin-top: 10px"></h1>
    <br/>
    <br/>

    <form action="api/event" method="post" enctype="multipart/form-data">
        <input id="form_method" type="hidden" name="_METHOD" value="PUT"/>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label-lg" hidden>Id</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id" name="id" placeholder="" value="{{ id }}" hidden>
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label-lg">Title</label>
            <div class="col-sm-8">
                <input required type="text" class="form-control" id="title" name="title" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label-lg">Location</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="location" name="location" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <div class='input-group date' id='datetimepicker1'>
                <label for="date_picker_start" class="col-sm-2 col-form-label-lg">Start</label>
                <div class="col-sm-8">
                    <input required type='text' id="date_picker_start" name="date_picker_start" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class='input-group date' id='datetimepicker2'>
                <label for="date_picker_end" class="col-sm-2 col-form-label-lg">End</label>
                <div class="col-sm-8">
                    <input type='text' id="date_picker_end" name="date_picker_end" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="Image" class="col-sm-2 col-form-label-lg">Image</label>
            <div class="col-sm-8">
                <input type="file" class="form-control" id="Image" name="Image" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label-lg">Price</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="price" id="price" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="detail" class="col-sm-2 col-form-label-lg">Detail</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="detail" name="detail" placeholder=""></textarea>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary" id="add_new_event" style="padding: 10px 50px">Save
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    let event_id = {{ id }};
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    $(function () {
        $('#datetimepicker2').datetimepicker();
    });

    if ("{{ type }}" === "new") {
        document.getElementById("heading").innerText = "Create a new event";
        document.getElementById("form_method").value = "POST";
    } else {
        document.getElementById("heading").innerText = "Update an event";
        document.getElementById("form_method").value = "PUT";
        fetch('api/event?id=' + event_id, {
            method: 'GET',
        }).then((resp) => {
            return resp.json();
        }).then((data) => {
            document.getElementById("title").value = data['title'];
            document.getElementById("location").value = data['location'];
            document.getElementById("date_picker_start").value = data['start'];
            document.getElementById("date_picker_end").value = data['end'];
            document.getElementById("price").value = data['price'];
            document.getElementById("detail").value = data['detail'];
        });
    }
</script>
</body>
</html>