<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Event Organiser</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/fontawesome.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" style="font-size: 22pt" href="/">Events</a>
        <div class=" navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="margin-right: 20px">
                <li class="nav-item">
                    <a class="nav-link" href="/archive" style="font-size: 15pt; color: snow">Archive</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is an online event organiser.</p>
        <a href="/edit?type=new" class="btn btn-primary btn-lg">Add a new event!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center card_container">
    </div>

</div>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Cloud Computing COMP41110 2019</p>
    </div>
</footer>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/typeahead.bundle.js"></script>
<script src="../static/js/fontawesome.min.js"></script>
<script src="../static/js/solid.min.js"></script>

<script>
    let create_card = (data) => {
        return `<div class="col-lg-6 col-md-6 mb-4 event_card" id=${"card_" + data['id']} data-title="${data['title']}">
            <div class="card h-100">
                <img class="card-img-top" src="${data['photo']}" height="350" alt="">
                <div class="card-body">
                    <h4 class="card-title">${data['title']}</h4>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i>${" " + data['location'] + "     "}<i class="fas fa-euro-sign"></i> ${" " + data['price']}</p>
                    <p class="card-text">${data['start']} - ${data['end']}</p>
                    <p class="card-text" id="card_detail">${data['detail']}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success" href="/edit?type=update&id=${data['id']}">Edit</a>
                    <button type="button" class="btn btn-info" onclick=delete_event(${data['id']})>Delete</button>
                    <button type="button" class="btn btn-secondary" onclick=archive(${data['id']})>Archive</button>
                    <button type="button" class="btn btn-primary">Share</button>
                </div>
            </div>
        </div>`;
    };

    document.addEventListener("DOMContentLoaded", () => {
        fetch('/api/event?id=' + {{ event_id }}, {
            method: 'GET',
        }).then((resp) => {
            return resp.json();
        }).then((data) => {
            console.log(data);
            $(".card_container").append(create_card(data));

        });
    });

    let archive = (id) => {
        fetch('/api/event?archive=1&id=' + id, {
            method: 'PUT',
        }).then(() => {
            let elem = document.querySelector('#card_' + id);
            elem.parentElement.removeChild(elem);
        }).catch((e) => {
            console.log(e);
        })
    };

    let delete_event = (id) => {
        fetch('/api/event?id=' + id, {
            method: 'DELETE',
        }).then(() => {
            document.getElementById("card_" + id).style.display = "None";
        }).catch((e) => {
            console.log(e);
        })
    };

</script>
</body>
</html>
